<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/style/main.css" />
    </head>
    <body>
        <div class="header">
            <h1>Hello, 我是吳恩樹 ㄩ ˇ ㄒ一</h1>
        </div>
        <div class="des">
            <p>我是男生，我今年三歲，</p>
        </div>
        <div class="main">
            <img
                class="img"
                src="/image/asian-man-barista-holding-tablet-checking-order-from-customer-coffee-cafe.jpg"
                alt=""
                width="1000"
            />
        </div>
    </body>
</html>
