<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/style/mainHbs.css" />
        {{#each css}}
            <link rel="stylesheet" href="/static/css/{{this}}">
        {{/each}}
    </head>
    <body>
      {{> header/navbar}}
        <main>
            <div class="main-container">
                {{{body}}}
            </div>
        </main>
        {{> footer/footer}}


        {{!-- axios --}}
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        {{#each js}}
            <script src="/static/js/{{this}}"></script>
        {{/each}}

    </body>
</html>